<div class="error-404">
	<div class="wrapper text-centered">
		<h2>404 - Page not found</h2>
		<p>Looks like you've been wandering too much, you're not sure where you are? Not sure where you're going? I know that feeling...</p>
		<a href="./">Go Home</a>
	</div>
</div>