<div class="portfolio-wrap text-centered">
	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-4 mb-f">
			<img class="pingdar">
		</div>
		<div class="col-6 mb-f col-2-push">
			<h2>Pingdar WordPress Plugin</h2>
			<h3>WordPress/REST/PhP</h3>
			<p>I built this plugin to pull in Pingdar website monitoring data into the WordPress admin dashboard. The plugin allows uses to register for Pingdar, monitor their data and a path to upgrade to premium Pingdar membership.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="https://pingdar.com"> Visit the Site</a>
			</p>
		</div>
	</div>

	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-6 mb-f">
			<h2>Virgina Bar Exam Flashcards</h2>
			<h3>WordPress/Python/Anki/UNIX</h3>
			<p>Starting with the <a href="https://pypi.python.org/pypi/AnkiServer/2.0.5">AnkiServer</a> python library, I customized it to supplement study materials for the Virginia Bar Exam. I hosted the server on it's own Ubuntu instance and interacted with it from WordPress over HTTP requests. The plugin allows for multiple users to study flashcards and remembers your progress based on the <a href="https://en.wikipedia.org/wiki/Anki_(software)">Anki Algorithm</a>.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="https://www.virginiabarexamtutor.com/"> Visit the Site</a>
			</p>
		</div>
		<div class="col-4 mb-f col-2-push">
			<img class="vaBarExam">
		</div>
	</div>

	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-4 mb-f">
			<img class="christinaElloso">
		</div>
		<div class="col-6 mb-f col-2-push">
			<h2>Christina Elloso Filmmaker</h2>
			<h3>WordPress/Theme/Design</h3>
			<p>This theme was built from scratch for the personal portfolio of Christina Elloso. It is designed to be lightweight and showcase all her fantastic work. I am in continual development of this theme.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="http://christinaelloso.com"> Visit the Site</a>
			</p>
		</div>
	</div>

	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-6 mb-f">
			<h2>Easy Aces Card Game</h2>
			<h3>JavaScript/Phaser/Game</h3>
			<p>Built for <a href="http://innovativetablegames.com">Innovative Table Games</a>, this web app is intended to showcase a new casino game going through the approval process of live play in casinos. It was constructed using the <a href="https://phaser.io/">Phaser engine</a> and has gone through several iterations to this point.</p>
			<p class="btn-wrap">
				<a class="icon" id="game" href="http://tristanjesse.com/EasyAces/threePlay.html"> Play the Game</a>
			</p>
		</div>
		<div class="col-4 mb-f col-2-push">
			<img class="easyAces">
		</div>
	</div>

	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-4 mb-f">
			<img class="campusTrack">
		</div>
		<div class="col-6 mb-f col-2-push">
			<h2>Campus-Track</h2>
			<h3>NodeJS/PCB/μC</h3>
			<p>Designed to be a personal safety device for university students. This project is a little bit of everything. I designed the physical device with <a href="https://circuits.io/eagle/">Eagle PCB Design</a> and constructed it with an ATMega from <a href="http://www.atmel.com">Atmel</a>, which is the brain behind <a href="https://www.arduino.cc/">Arduino</a>. From there I programmed the microcontroller itself to interact with the website which I built with NodeJS.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="http://campus-track.com"> Visit the Site</a>
			</p>
		</div>
	</div>
</div>